{% extends 'base.html' %}
{% load static %}
{% block title %}Index{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="initial auth">
            <a href="{% url 'logout' %}">Выйти</a>
            <a href="{% url 'phonebook' %}">Справочник</a>
        </div>
    {% else %}
    <h4 class="welcome">Добро пожаловать!</h4>
        <div class="initial">
            <a href="{% url 'signup' %}">Регистрация</a>
            <a href="{% url 'login' %}">Войти</a>
        </div>

    {% endif %}

{% endblock %}